/* ЗАГАЛЬНІ СТИЛІ */
html,
body {
  font-family: "Spectral", serif;
  box-sizing: border-box;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 22px;
  font-weight: 400;
  color: $primary-text-color;
  background: $background-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1400px;
  .section-title {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
    color: $main-color;
  }
}

.coloured {
  background-color: white;
}

.container {
  width: 100%;
  padding: 0 20px;
}

.simple-text {
  padding: 0;
  margin: 0;
  text-align: center;
}

.btn-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .btn-list-item {
    display: block;
    width: 100%;
    border: 1px solid $main-color;
    border-radius: 10px;
    .btn-primary {
      display: block;
      text-align: center;
      padding: 12px;
      color: $primary-text-color;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
