.hero {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    height: 600px;
    background-image: url(./../img/hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}